<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-th">
                    </span>Dashboard
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Overview", "UserOverview", "Dashboard", routeValues: null,
                                htmlAttributes: new {id = "dash_overview_id"})
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="glyphicon  glyphicon-th">
                    </span>Facebook Content
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Photos", "FacebookPhotoViewer", "Facebook", routeValues: null,
                                htmlAttributes: new {id = "fb_photoview_id"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Videos", "FacebookVideoViewer", "Facebook", routeValues: null,
                                htmlAttributes: new {id = "fb_videoview_id"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Backup", "BackupToBlobView", "Blob", routeValues: null,
                                htmlAttributes: new {id = "fb_backup_id"})
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <span class="glyphicon  glyphicon-th">
                    </span>Blob Content
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Photos", "BlobPhotoViewer", "Blob", routeValues: null,
                                htmlAttributes: new {id = "blob_photoview_id"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Videos", "BlobVideoViewer", "Blob", routeValues: null,
                                htmlAttributes: new {id = "blob_videoview_id"})
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <span class="glyphicon  glyphicon-th">
                    </span>Account Settings
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse ">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Manage External Logins", "ManageExternalLogin", "Account", routeValues: null, htmlAttributes: new {id = "manageExternalLogin"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Edit Profile", "EditProfile", "Profile", routeValues: null, htmlAttributes: new {id = "editProfileLink"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Change Password", "ChangePassword", "Account", routeValues: null, htmlAttributes: new {id = "changePasswordLink"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Delete Account", "DeleteAccount", "Account", routeValues: null, htmlAttributes: new {id = "deleteAccountLink"})
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
