<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-th">
                    </span>Dashboard
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Overview", "UserOverview", "Dashboard", routeValues: null,
                                                          htmlAttributes: new { id = "dash_overview_link" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Profile", "UserProfile", "Dashboard", routeValues: null,
                                                          htmlAttributes: new { id = "dash_profile_link" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                            @Html.ActionLink("Account", "UserAccount", "Dashboard", routeValues: null,
                                                          htmlAttributes: new { id = "dash_account_link" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Content
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Invoices</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.jquery2dotnet.com">Tex</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <span class="glyphicon glyphicon-user">
                    </span>Account Settings
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse ">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("Manage External Logins", "ManageExternalLogin", "Account", routeValues: null, htmlAttributes: new { id = "manageExternalLogin" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Edit Profile", "EditProfile", "Profile", routeValues: null, htmlAttributes: new { id = "editProfileLink" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Change Password", "ChangePassword", "Account", routeValues: null, htmlAttributes: new { id = "changePasswordLink" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Delete Account", "DeleteAccount", "Account", routeValues: null, htmlAttributes: new { id = "deleteAccountLink" })
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <span class="glyphicon glyphicon-file">
                    </span>Reports
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
